# Prerequisites
*.d

# Object files
*.o
*.obj
*.a

#PS2 executables
*.elf
*.kelf
!release/SYS-CONF/*.elf

# IOP Executable
*.irx

# folders where object files and embedded stuff is dumped
asm/

#other non desired files
*.7z
*.XLF
*.dat
bin/CONFIG.INI
