# Prerequisites
*.d

# Object files
*.o
*.ko
*.obj

# embedded stuff
*_irx.c
*_irx.s

#PS2 executables
*.elf
*.kelf
!release/PS2BBL/*.elf

# IOP Executable
*.irx
*.s

# folders where object files and embedded stuff is dumped
src/
asm/

#other non desired files
*.7z
*.XLF
